In [6]:
import pandas as pd 
df=pd.read_csv('wilaya-cities.csv')
df.set_index('id')
df=df[['commune_name_ascii','wilaya_name_ascii','wilaya_code']]
df.groupby(['wilaya_code','wilaya_name_ascii'])
df

     commune_name_ascii wilaya_name_ascii  wilaya_code
0              Timekten             Adrar            1
1                 Bouda             Adrar            1
2     Ouled Ahmed Timmi             Adrar            1
3                 Adrar             Adrar            1
4             Fenoughil             Adrar            1
...                 ...               ...          ...
1536              Still       El Meghaier           57
1537        Sidi Khelil       El Meghaier           57
1538          El Meniaa          El Menia           58
1539         Hassi Gara          El Menia           58
1540        Hassi Fehal          El Menia           58

[1541 rows x 3 columns]